body {
    margin: 0;
    padding: 0;
}

.form {
    width: 100vw;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}   

form {
    width: 50%;
}

.titulo {
    color: #00ff88;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 35px;
    background-color: #212841;
    border-radius: 20px;
    box-shadow: 0 10px 40px #00000056;
    color: white;
    
    
}


.container input {
    margin: 10px 0px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-family: poppins;
    cursor: pointer;
}

select {
    margin: 10px 0px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-family: poppins;
    cursor: pointer;
}
.container > label {
    font-family: poppins;
    font-size: 20px;
}
